{
  "AUTHOR_NAME": "Your name",
  "AUTHOR_EMAIL": "you@example.com",
  "GITHUB_ACCOUNT": "your-github-account",
  "COFFEE_URL": "https://www.buymeacoffee.com/your-account",
  "PAYPAL_URL": "https://paypal.me/your-account"
}
